<h1>Listing reports</h1>

<table id="students-table", data-source="<%= students_path(format: :json) %>">
  <thead>
    <tr>
      <th>First Name</th>
      
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
