<h1>Elever</h1>

<table class="table" id="students-table", data-source="<%= students_path(format: :json) %>">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
