<h1><%= @student.first_name%> <%= @student.last_name%></h1>
<%= link_to "Skapa utredning", new_report_path(:student_id => @student.id), :class => "btn btn-black btn-xs"%>
<% unless @student.reports.blank?%>
	<table>
		<tbody>
			<thead>
				<th>Skapad</th>
			</thead>
			<%@student.reports.each do |report|%>
				<tr>
					<td><%=link_to(report.created_at, report_path(report))%></td>
				</tr>	
			<% end -%>
		</tbody>
	</table>
<% end -%>
