<ul id="nav"class="nav nav-pills">
  <li class="<%= 'active' if params[:controller] =='welcome' %>"><a href="<%= root_path%>">Hem</a> </li>
  <li class="<%= 'active' if params[:controller] =='reports' %>"><a href="<%= reports_path %>">Utredning</a> </li>
</ul>